body{
	text-align: center;
}
.current-question{
	font-weight: bold;
	margin:20px auto;
	font-size: 2em;
	color:#666;
}
.possible-answers a{
	display:block;
	border:1px solid #cccccc;
	padding:5px;
	font-size: 1.8em;
	border-radius:5px;
	text-align: center;
	margin-bottom: 10px;
	margin-top: 10px;
	text-decoration: none;
}
a#resetButton{
	padding:10px;
	display:block;
	padding:5px;
	border-radius:5px;
	text-align: center;
	font-size: 1.8em;
	color:#ffffff;
	background: #2f54b2;
	margin-top:100px;
}